@model IEnumerable<Testing_QLThuVien.Models.CTMuonTra>

@{
    ViewBag.Title = "SachDaDat";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 1;
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>Danh Sách Sách Đã Được Đặt</h2>
                <div class="nav navbar-right panel_toolbox">
                        <input type="button" class="btn btn-primary" value="Thêm Mượn" onclick="createModallg('@Url.Action("ThemDangMuon", "MuonSach")')" />
                    </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="mytable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center">STT</th>
                            <th style="text-align:center">
                                Tên Độc Giả
                            </th>
                            <th style="text-align:center">
                                Tên Sách
                            </th>
                            <th style="text-align:center">
                                Ngày Mượn
                            </th>
                            <th style="text-align:center">
                                Ngày Trả Quy Định
                            </th>
                            <th style="text-align:center">
                                Số Lượng
                            </th>
                            <th style="text-align:center">
                                Tiền Cọc
                            </th>
                            <th style="text-align:center">
                                Tiền Thuê
                            </th>
                            <th style="text-align:center">
                                Tổng Tiền
                            </th>
                            <th style="text-align:center">Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="10" style="text-align:center">Không có dữ liệu.</td>
                            </tr>
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center">
                                    @stt
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocGia.TenDocGia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sach.TenSach)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:dd/MM/yyyy}", item.NgayMuon)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:dd/MM/yyyy}", item.NgayTraQuyDinh)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.SoLuongThue)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.TienCoc)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.TienThue)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.TongTien)
                                </td>                              
                                <td style="text-align:center">
                                    <input type="button" class="btn btn-round btn-info btn-xs" value="Đã Trả" onclick="location.href='@Url.Action("DaTraSach", "MuonSach", new { stt = item.STT, iddg = item.IDDocGia, idsach = item.IDSach })'" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="showModallg" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modelContentlg">
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="showModallg1" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modelContentlg1">
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="showModalsm" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id="modelContentsm">
        </div>
    </div>
</div>

<script>
    function createModallg(url){
        $('#modelContentlg').load(url);
        $('#showModallg').modal('show');
    }
    function createModallg1(url){
        $('#modelContentlg1').load(url);
        $('#showModallg1').modal('show');
    }
    function createModalsm(url) {
        $('#modelContentsm').load(url);
        $('#showModalsm').modal('show');
    }
    function ChonDG(url) {
        $('#showModallg1').modal('hide');
        $('#modelContentlg').load(url);
    }
</script>