@model IEnumerable<Testing_QLThuVien.Models.DocGia>

@{
    ViewBag.Title = "DSDocGia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_title">
                <h2>Danh Sách Độc Giả</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="mytable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Tên Độc Giả</th>
                            <th>Địa Chỉ</th>
                            <th>Ngày Sinh</th>
                            <th>SDT</th>
                            <th>Email</th>
                            <th>CMND</th>
                            <th>Ngày Lập</th>
                            <th>Tình Trạng</th>
                            <th>Tổng Tiền Phạt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenDocGia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgaySinh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SDT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CMND)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayLap)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TinhTrang)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TongTienPhat)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
